{% extends 'base.html.twig' %}

{% block title %}Room Availability{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    {% include 'home_page/partials/_search_form.html.twig' with {'search_form': search_form} %}

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    {% if rooms|length > 0 %}
    <table>
        <thead>
        <tr>
            <th>Room type</th>
            <th>Rooms left</th>
            <th></th>
        </tr>
        </thead>
        {% for room in rooms %}
            <tr>
                <td>
                    {{ room.roomType.name }}
                </td>
                <td>
                    {{ room.quantity }}
                </td>
                <td>

                </td>
            </tr>

        {% endfor %}
    </table>
    {% endif %}

{% endblock %}